.wrapper {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 30%; */
    padding-bottom: 30%;
    font-size: 1.2rem;
    gap: 1.5rem;
}

.item {
    display: flex;
    align-items: center;
    padding: 0 10%;
    border: 1px solid var(--colors__border);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 4rem;
    color: var(--colors__largeText);
    background-color: var(--colors__inside);
}

.input {
    width: 100%;
    height: 20%;
    border: 1px solid var(--colors__border);
    border-radius: 8px;
}

.inputWrapper {
    padding-top: 10.5rem;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    margin: 0 !important;
    margin-bottom: 2.2rem !important;
}

.modalbtn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
}
