.wrapper {
    width: 100%;
    height: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1.5rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 20%;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 5%;
    border-radius: 15px;
    padding: 5% 10%;
    border: 1px solid var(--colors__border);
    background-color: var(--colors__inside);
    color: var(--colors__largeText);
}
